<div class="col-12 col-lg-8 offset-lg-2">
    <div class="timeline-wrapper">
        <ul class="timeline">
            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Founded</h5>
                    <p class="timeline-content-date">1991</p>
                    <p class="timeline-content-description">
                        The privately owned world-leading DMC Group
                        Founded in 1991, 30+ year expertise
                        Offices established on all continents
                        We cover over 90+ countries worldwide
                    </p>
                </div>
            </li>

            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Achieved 1st Milestone</h5>
                    <p class="timeline-content-date">1995</p>
                    <p class="timeline-content-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </div>
            </li>

            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Our company starts its operations</h5>
                    <p class="timeline-content-date">11 March 2020</p>
                    <p class="timeline-content-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </div>
            </li>

            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Our company starts its operations</h5>
                    <p class="timeline-content-date">11 March 2020</p>
                    <p class="timeline-content-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </div>
            </li>

            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Our company starts its operations</h5>
                    <p class="timeline-content-date">11 March 2020</p>
                    <p class="timeline-content-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </div>
            </li>

            <li class="timeline-item">
                <span class="timeline-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>

                <div class="timeline-content">
                    <h5 class="timeline-content-title">Our company starts its operations</h5>
                    <p class="timeline-content-date">11 March 2020</p>
                    <p class="timeline-content-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>