<section id="home-enquiry-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h4 class="enquiry-form-section-title">
                    Experience Travel with Liberty
                </h4>
            </div>
            <div class="col-11">
                <div class="enquiry-form-wrapper">
                    <div class="enquiry-form-field-wrapper">
                        <input type="text" placeholder="Name" id="enquiry_form_name" name="enquiry_form_name"
                            class="enquiry-form-field-input" />
                        <label class="enquiry-form-error-label">This field is required</label>
                    </div>

                    <div class="enquiry-form-field-wrapper">
                        <input type="email" placeholder="Email" id="enquiry_form_email" name="enquiry_form_email"
                            class="enquiry-form-field-input" />
                        <label class="enquiry-form-error-label">This field is required</label>
                    </div>

                    <div class="enquiry-form-field-wrapper">
                        <input type="text" placeholder="Contact No." id="enquiry_form_mobileNumber"
                            name="enquiry_form_mobileNumber" class="enquiry-form-field-input" />
                        <label class="enquiry-form-error-label">This field is required</label>
                    </div>

                    <div class="enquiry-form-field-wrapper">
                        <select class="enquiry-form-field-input" id="enquiry_form_destination"
                            name="enquiry_form_destination" multiple>
                            <option></option>
                            <option value="Greece">Greece</option>
                            <option value="Italy">Italy</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Florida">Florida</option>
                            <option value="Spain">Spain</option>
                        </select>
                        <label class="enquiry-form-error-label">This field is required</label>
                    </div>

                    <div class="enquiry-form-field-wrapper">
                        <select class="enquiry-form-field-input" id="enquiry_form_purpose"
                            name="enquiry_form_purpose">
                            <option></option>
                            <option value="Purpose 1">Purpose 1</option>
                            <option value="Purpose 2">Purpose 2</option>
                            <option value="Purpose 3">Purpose 3</option>
                            <option value="Purpose 4">Purpose 4</option>
                            <option value="Purpose 5">Purpose 5</option>
                            <option value="Purpose 6">Purpose 6</option>
                        </select>
                        <label class="enquiry-form-error-label">This field is required</label>
                    </div>

                    <button class="btn btn-lg">LET'S GO</button>

                </div>
            </div>
        </div>
    </div>
</section>