<div class="table-responsive mt-5">
    <%- renderUI.generateTable(destinations)%>
    <!-- <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <% for(let column in destinations[0]){%>
                    <th>
                        <%=column%>
                    </th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(let row of destinations){%>
                <tr>
                    <% for(let column in row){%>
                        <td>
                            <%=row[column]%>
                        </td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table> -->
</div>