<%- include('../../component/pageBanner',{
    banner:"https://i.pinimg.com/originals/73/70/00/737000df4b8e04719d38b1b4537ebad2.jpg",
    banner_size:'cover',
    title : "Legal Notice",
    description : "Information according to § 7 of Business Corporation law 90/2012 Coll:"
}) %>

<section id="legal-notice-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Legal Notice
                    </h4>
                    <p class="notice-section-content">
                        Information according to § 7 of Business Corporation law 90/2012 Coll:
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Liberty International spol s.r.o
                    </h4>
                    <p class="notice-section-content">
                        Rozkosneho 5/762<br />
                        150 00 Prague, Czech Republic
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Represented by:
                    </h4>
                    <p class="notice-section-content">
                        Thomas Gerschpacher
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Contact details:
                    </h4>
                    <p class="notice-section-content">
                        Tel.: +420 296337611<br />
                        Email: czechrepublic@liberty-int.com
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Register entry:
                    </h4>
                    <p class="notice-section-content">
                        Registration in the commercial register. <br />
                        Registration court: City court in Prague <br />
                        Registration number: C 35141 <br />
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Value added tax:
                    </h4>
                    <p class="notice-section-content">
                        VAT identification number according to §6 as of the Value Added Tax Act <br />
                        CZ 62912321
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Online dispute resolution pursuant to Art. 14 para. 1 of the Regulation on Online Dispute
                        Resolution in Consumer Affairs (ODR-VO):
                    </h4>
                    <p class="notice-section-content">
                        The European Union has set up an online dispute resolution platform ('OS platform') for
                        out-of-court settlement of consumer disputes, which can be found under the following URL:
                        www.ec.europa.eu/consumers/odr. Our email address is written as:
                        czechrepublic@liberty-int.com
                    </p>
                    <p class="notice-section-content">
                        We are neither willing nor obliged to attend a consumer arbitration board.
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        The entity responsible for the content responsible party in the sense of the Czech Copyright
                        Law 21/2000 Coll.
                    </h4>
                    <p class="notice-section-content">
                        As the content provider, Liberty International spol s.r.o is responsible for its own
                        content, which it keeps ready for use pursuant to the general laws. If contributions are
                        indicated by name, these reflect the opinions of the respective authors and therefore not
                        the opinion of Liberty International spol s.r.o.
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Exclusion of liability/disclaimer:
                    </h4>
                    <p class="notice-section-content">
                        Cross-references ('external links') should be discerned from Liberty International spol
                        s.r.o own content in terms of the content available by other content providers. When setting
                        up external links, this involves vital and dynamic cross references. The setting up of
                        external links does not mean that Liberty International spol s.r.o embraces the content
                        behind the external link. Liberty International spol s.r.o keeps only third-party content
                        available for use through the external link. Liberty International spol s.r.o is only
                        responsible for this third-party content if it has definite knowledge of legal violations
                        (i.e. especially regarding illegal or criminal content), and it is technically possible and
                        reasonable therefor to prevent its use. Upon connecting to the external links for the first
                        time, Liberty International spol s.r.o had checked the third-party content as to whether any
                        possible civil or criminal responsibility has been caused thereby. However, it cannot be
                        ruled out that the content could be modified subsequently by the respective providers.
                        Liberty International spol s.r.o is not obliged to constantly check for modifications of the
                        third-party content—to which it refers on its website—which could re-establish
                        responsibility. Constant monitoring of the external links is not reasonable for Liberty
                        International spol s.r.o without concrete evidence of legal violations. The respective
                        provider of these pages is solely liable for such additional content and, in particular, for
                        damages result-ing from the use or non-use of such presented information, however not that
                        which only refers to the respective publication via links. Only Liberty International spol
                        s.r.o establishes or is advised by others that a concrete offer, to which it has provided a
                        link, causes a civil or criminal liability, shall it cancel the reference to this offer as
                        far as this is technically possible and reasonable therefor.
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Notice of copyright and neighbouring rights
                    </h4>
                    <p class="notice-section-content">
                        The works published on this website (e.g. texts, graphics and images), as well as the design
                        and layout of the website, are subject to Czech copyright law. Any kind of duplication,
                        processing, distribution and exploitation outside the restrictions of copyright law requires
                        the prior written consent of the author, with the exception of downloads and copies of this
                        site for private, non-commercial permitted use. The consent requirement applies in
                        particular to the duplication, revision, translation, storage, processing and reproduction
                        of content in databases or other electronic media and systems. The unauthorised duplication
                        or transmission of individual content or complete pages is prohibited and punishable.
                        Copyright violations and the infringement of copyright exploitation rights shall be
                        prosecuted under both civil and criminal law. Under Czech law, injunction and damages,
                        reimbursement of expenses, the transfer, removal or destruction of the reproductions as well
                        as public notice of a ruling are possible. Legal prosecution according to legal systems of
                        other countries is possible. The presentation of this website in external frames is only
                        permitted with prior written permission. Insofar as the contents on this page have not been
                        created by the provider, the copyrights of third parties are respected. In particular, the
                        content of third parties shall be marked as such. We kindly ask you to notify us should you
                        nevertheless become aware of a copyright infringement. Upon notification of such violations,
                        we shall remove the content in question immediately.
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Photo credits:
                    </h4>
                    <p class="notice-section-content">
                        All photographs used on our website are acquired from:
                    </p>

                    <p class="notice-section-content">
                        a) Our own created company photo database to which we own all legal rights
                    </p>

                    <p class="notice-section-content">
                        b) www.istock.com database and we hold all necessary license rights. For more details please
                        visit https://www.istockphoto.com/help/licenses.
                    </p>

                    <p class="notice-section-content">
                        In case you have any questions regarding the photos and pictures used on our website or in
                        our materials, please, contact us at dpc@liberty-int.com.
                    </p>
                </div>

                <div class="notice-section">
                    <h4 class="notice-section-heading">
                        Concept/design:
                    </h4>
                    <p class="notice-section-content">
                        Magicware s.r.o <br/>
                        Praha 6, Krohova 2212/75 <br/>
                        +420 222 260 999
                    </p>

                    <p class="notice-section-content">
                        http://www.magicware.cz <br/>
                        hot@magicware.cz
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<% LOCALE.cssLink.push(SYSTEM.cssPath+'legal_notice.css'); %>
<% LOCALE.scriptLink.push(SYSTEM.jsPath+'common.js'); %>